.m-menu {
  height: 100vh;
  width: 20%;
  border-right: 2px solid gray;
}

.m-titulo {
  height: 10vh;
  display: block;
  text-align: center;
  align-content: center;
}

.m-lista {
  padding: 0px;
  list-style: none;
}

.m-lista li {
  display: block;
}

.m-lista a {
  display: block;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  color: inherit;
}

.m-lista a:hover {
  background-color: rgb(200, 200, 255);
}
