.iform {
  display: flex;
  width: 80vw;
  margin-top: 5vh;
  float: right;
  justify-content: space-evenly;
}

.botones {
  display: flex;
  justify-content: space-between;
}

.botones .boton {
  width: 180px;
}
