.iheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  float: right;
  height: 10vh;
}
.tituloH {
  padding-left: 20px;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.menu a {
  padding: 15px;
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  background-color: rgba(200, 200, 255); /* 50% transparent */
  cursor: pointer;
}
