.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  float: right;
}

.tituloH {
  margin: 20px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu p {
  margin-inline: 5px;
  padding: 10px;
}

.menu p:hover {
  background-color: rgb(250 250 250 / 25%); /* 50% transparent */
  cursor: pointer;
}
