.iheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  float: right;
  height: 10vh;
}

.tituloH {
  padding-left: 30px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu p {
  margin-inline: 5px;
  padding: 10px;
}

.menu p:hover {
  background-color: rgba(200, 200, 255); /* 50% transparent */
  cursor: pointer;
}
