.formulario3d {
  width: 25vw;
  box-shadow: 0px 0px 20px gray;
  padding: 20px;
  border-radius: 20px;
}

.iseleccion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.iflex {
  display: flex;
  justify-content: space-around;
}

.icantidad input {
  width: 160px;
}
